@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body { 
    font-family: 'Poppins', sans-serif; 
    scroll-behavior: smooth; 
}

/* FORMATO OVAL PARA A FOTO */
.custom-oval {
    width: 280px;      /* Largura menor */
    height: 380px;     /* Altura maior para criar o efeito oval/cápsula */
    object-fit: cover; /* Não distorce a imagem */
    transition: transform 0.3s ease;
}

.custom-oval:hover {
    transform: scale(1.02);
}

/* Estilo para Nav Pills */
.nav-pills .nav-link {
    color: #292929;
    border-radius: 50px;
    padding: 0.5rem 1.2rem;
}

.nav-pills .nav-link.active {
    background-color: #0a035a;
    box-shadow: 0 4px 10px rgba(160, 201, 248, 0.3);
}

section { min-height: 90vh; display: flex; align-items: center; }